svg {
    background-color: darkgoldenrod;
}

.panel-body {
    padding: 2px;
}

#panGroup line {
    stroke: #000000;
    stroke-width: 2;
}

#panGroup circle.:hover {
    stroke: #000000;
    stroke-width: 2;
}

#giboGroup circle {}

#squaresGroup rect {}