svg {
    background-image: url("../../../images/ColorSplash/colorsplash5.jpg");
    background-size: cover;
    opacity: 0.75;
}
.panel-body{
    padding: 2px;
}
#panGroup line {
    stroke: #000000;
    stroke-width: 2;
}
#giboGroup circle {

}
#squaresGroup rect {
}