svg {
    background-color: darkgoldenrod;
}

.panel-body {
    padding: 2px;
}

#panGroup line {
    stroke: #000000;
    stroke-width: 2;
}

#panGroup circle.panCircle:hover {
    cursor: pointer;
}

#giboGroup circle:hover {
    cursor: pointer;
}

#squaresGroup rect {}