.panel-body{
    padding: 2px;
}
#puzzleDiv {
    text-align: center;
}
#progressBar {
    margin-top: -15px;
}
#puzzleCanvas {
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background: white;
}
#srcImageDiv {
    padding-bottom: 15px;
}
svg {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: thin solid black;
}
svg>g>g>image {
    cursor: pointer;
    opacity: 0.85;
}
svg>g>g>image:hover {
    opacity: 0.75;
}
svg>g>g>text {
    cursor: pointer;
    font-weight: bold;
    text-anchor: middle;
    alignment-baseline: middle;
    fill: black;
    opacity: 0.75;
}
svg>g>g>text:hover {
    fill: red;
}
#jp_container_1 {
    width: 100%;
    min-width: 210px;
}