.panel-body{
    padding: 2px;
}
#puzzleDiv {
    text-align: center;
}
#progressBar {
    margin-top: -15px;
}
#puzzleCanvas {
    width: 100%;
    border: 1px solid black;
    padding: 4px;
    border-radius: 4px;
    background: white;
}