#jp_container_1 {
    width: 100%;
    min-width: 410px;
}
svg {
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    border: thin solid black;
}

#videoDiv {
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    border: thin solid black;
    background: black;
}

