<link rel="stylesheet" href="css/deagook.css">

<div class="panel panel-default reveal-animation">
    <div class="panel-heading">
        <button type="button" ng-class="toggleNumberBtnClass" ng-click="toggleNumberVisibility()">번호</button>
        <button type="button" class="btn btn-xs btn-info" ng-click="addStoneRandom()">진행</button>
        <button type="button" class="btn btn-xs btn-info" ng-click="removeStone()">물르기</button>
        <button type="button" class="btn btn-xs btn-info" ng-click="clearStone()">초기화</button>
        <button type="button" ng-class="toggleGiboBtnClass" ng-click="toggleGiboVisibility()">숨기기</button>
    </div>
    <div class="panel-body">
        <svg viewBox="0 0 2000 2000" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="f4" filterUnits="userSpaceOnUse" x="0" y="0" width="100%" height="100%">
                    <feGaussianBlur in="SourceAlpha" stdDeviation="10" result="blur" />
                    <feOffset in="blur" dx="10" dy="10" result="offsetBlur" />
                    <feSpecularLighting in="blur" surfaceScale="5" specularConstant=".25" specularExponent="10" lighting-color="yellow" result="specOut">
                        <fePointLight x="-5000" y="-10000" z="20000" />
                    </feSpecularLighting>
                    <feComposite in="specOut" in2="SourceAlpha" operator="in" result="specOut" />
                    <feComposite in="SourceGraphic" in2="specOut" operator="arithmetic" k1="0" k2="1" k3="1" k4="0" result="litPaint" />
                    <feMerge>
                        <feMergeNode in="offsetBlur" />
                        <feMergeNode in="litPaint" />
                    </feMerge>
                </filter>
                <filter id="f0" x="0" y="0" width="200%" height="200%">
                    <feOffset result="offOut" in="SourceAlpha" dx="10" dy="10" />
                    <feGaussianBlur result="blurOut" in="offOut" stdDeviation="5" />
                    <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
                </filter>
                <radialGradient id="gradient_3D_gray" cx="20%" cy="20%" r="100%" fx="30%" fy="30%">
                    <stop stop-color="white" offset="0"/>
                    <stop stop-color="black" offset="100%"/>
                </radialGradient>
                <radialGradient id="gradient_3D_black" cx="20%" cy="20%" r="100%" fx="30%" fy="30%">
                    <stop stop-color="white" offset="0"/>
                    <stop stop-color="rgb(50,50,50)" offset="25%"/>
                    <stop stop-color="black" offset="100%"/>
                </radialGradient>
                <radialGradient id="gradient_3D_white" cx="20%" cy="20%" r="100%" fx="30%" fy="30%">
                    <stop stop-color="white" offset="0"/>
                    <stop stop-color="rgb(180,180,180)" offset="50%"/>
                    <stop stop-color="black" offset="100%"/>
                </radialGradient>
                <radialGradient id="gradient_3D_red" cx="20%" cy="20%" r="100%" fx="30%" fy="30%">
                    <stop stop-color="white" offset="0"/>
                    <stop stop-color="rgb(255,0,0)" offset="25%"/>
                    <stop stop-color="black" offset="100%"/>
                </radialGradient>
                <radialGradient id="gradient_3D_yellow" cx="20%" cy="20%" r="100%" fx="30%" fy="30%">
                    <stop stop-color="white" offset="0"/>
                    <stop stop-color="rgb(255,255,0)" offset="25%"/>
                    <stop stop-color="black" offset="100%"/>
                </radialGradient>
                <radialGradient id="gradient_3D_blue" cx="20%" cy="20%" r="100%" fx="30%" fy="30%">
                    <stop stop-color="white" offset="0"/>
                    <stop stop-color="rgb(0,0,255)" offset="25%"/>
                    <stop stop-color="black" offset="100%"/>
                </radialGradient>
            </defs>
            <g id="panGroup" d3 d3-data="panData" d3-renderer="panRenderer"></g>
            <g id="giboGroup" d3 d3-data="giboData" d3-renderer="giboRenderer" ng-show="isShowGibo"></g>
        </svg>
    </div>
</div>

<div class="alert alert-info reveal-animation" role="alert">
    <strong>진행수: {{giboData.stones.length}}</strong><br />
    <strong>흑사석: {{blackDieStones.length}}</strong><br />
    <strong>백사석: {{whiteDieStones.length}}</strong><br />
    <strong>전체칸수: {{panData.panCircles.length}}</strong><br />
</div>
