<link rel="stylesheet" href="css/home.css">

<div class="panel panel-default reveal-animation">
    <div class="panel-heading">
        <button id="mixBth" type="button" class="btn btn-xs btn-primary">mix</button>
        <button id="mixBth2" type="button" class="btn btn-xs btn-primary">mix2</button>
        <button id="solveBth" type="button" class="btn btn-xs btn-primary">solve</button>
        <button id="stopBth" type="button" class="btn btn-xs btn-primary">stop</button>
        Max Col:
        <select id="maxCol" ng-model="maxCol">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="7">7</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="15">15</option>
        </select>
        Max Row:
        <select id="maxRow" ng-model="maxRow">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="7">7</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="15">15</option>
        </select>
    </div>
    <div class="panel-body">
        <svg id="puzzleSvg" viewBox="0 0 700 700">
            <g id="puzzleGroup" d3 d3-data="imgDataArr" d3-renderer="puzzleRenderer"></g>
        </svg>
    </div>
</div>

<div id="progressBar" class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        100% Complete (success)
    </div>
</div>

<div id="srcImageDiv">
    <svg id="imgSvg" viewBox="0 0 300 200">
        <g id="imageGroup" d3 d3-data="srcImageArr" d3-renderer="srcImageRenderer"></g>
    </svg>
</div>

<div class="alert alert-info reveal-animation" role="alert">
    History Count : {{moveHistoryArr.length}}
</div>