<link rel="stylesheet" href="css/home.css">

<div class="panel panel-default reveal-animation">
    <div class="panel-heading">
        <button id="mixBth" type="button" class="btn btn-xs btn-primary">mix</button>
        <button id="mixBth2" type="button" class="btn btn-xs btn-primary">mix2</button>
        <button id="solveBth" type="button" class="btn btn-xs btn-primary">solve</button>
        <button id="stopBth" type="button" class="btn btn-xs btn-primary">stop</button>
        Max Col:
        <select id="maxCol" ng-model="maxCol">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="7">7</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="15">15</option>
        </select>
        Max Row:
        <select id="maxRow" ng-model="maxRow">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="7">7</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="15">15</option>
        </select>
        <span>History Count : {{moveHistoryArr.length}}</span>
    </div>
    <div class="panel-body">
        <svg id="puzzleSvg" viewBox="0 0 700 700">
            <defs>
                <filter id="f4" filterUnits="userSpaceOnUse" x="0" y="0" width="100%" height="100%">
                    <feGaussianBlur in="SourceAlpha" stdDeviation="10" result="blur" />
                    <feOffset in="blur" dx="10" dy="10" result="offsetBlur" />
                    <feSpecularLighting in="blur" surfaceScale="5" specularConstant=".25" specularExponent="10" lighting-color="yellow" result="specOut">
                        <fePointLight x="-5000" y="-10000" z="20000" />
                    </feSpecularLighting>
                    <feComposite in="specOut" in2="SourceAlpha" operator="in" result="specOut" />
                    <feComposite in="SourceGraphic" in2="specOut" operator="arithmetic" k1="0" k2="1" k3="1" k4="0" result="litPaint" />
                    <feMerge>
                        <feMergeNode in="offsetBlur" />
                        <feMergeNode in="litPaint" />
                    </feMerge>
                </filter>
                <filter id="f0" x="0" y="0" width="200%" height="200%">
                    <feOffset result="offOut" in="SourceAlpha" dx="10" dy="10" />
                    <feGaussianBlur result="blurOut" in="offOut" stdDeviation="5" />
                    <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
                </filter>
                <radialGradient id="gradient_3D_gray" cx="20%" cy="20%" r="100%" fx="30%" fy="30%">
                    <stop stop-color="white" offset="0"/>
                    <stop stop-color="black" offset="100%"/>
                </radialGradient>
                <radialGradient id="gradient_3D_black" cx="20%" cy="20%" r="100%" fx="30%" fy="30%">
                    <stop stop-color="white" offset="0"/>
                    <stop stop-color="rgb(50,50,50)" offset="25%"/>
                    <stop stop-color="black" offset="100%"/>
                </radialGradient>
                <radialGradient id="gradient_3D_white" cx="20%" cy="20%" r="100%" fx="30%" fy="30%">
                    <stop stop-color="white" offset="0"/>
                    <stop stop-color="rgb(180,180,180)" offset="50%"/>
                    <stop stop-color="black" offset="100%"/>
                </radialGradient>
                <radialGradient id="gradient_3D_red" cx="20%" cy="20%" r="100%" fx="30%" fy="30%">
                    <stop stop-color="white" offset="0"/>
                    <stop stop-color="rgb(255,0,0)" offset="25%"/>
                    <stop stop-color="black" offset="100%"/>
                </radialGradient>
                <radialGradient id="gradient_3D_yellow" cx="20%" cy="20%" r="100%" fx="30%" fy="30%">
                    <stop stop-color="white" offset="0"/>
                    <stop stop-color="rgb(255,255,0)" offset="25%"/>
                    <stop stop-color="black" offset="100%"/>
                </radialGradient>
                <radialGradient id="gradient_3D_blue" cx="20%" cy="20%" r="100%" fx="30%" fy="30%">
                    <stop stop-color="white" offset="0"/>
                    <stop stop-color="rgb(0,0,255)" offset="25%"/>
                    <stop stop-color="black" offset="100%"/>
                </radialGradient>
            </defs>
            <g id="puzzleGroup" d3 d3-data="imgDataArr" d3-renderer="puzzleRenderer"></g>
        </svg>
        <div id="puzzleDiv">
            <canvas id="puzzleCanvas"></canvas>
        </div>
    </div>
</div>

<div id="progressBar" class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        100% Complete (success)
    </div>
</div>

<div class="alert alert-info reveal-animation" role="alert">
    <img data-src="holder.js/100x100" class="img-thumbnail" alt="100x100" src="../../images/images.jpg" data-holder-rendered="true" style="width: 100px; height: 100px;">
    <img data-src="holder.js/100x100" class="img-thumbnail" alt="100x100" src="../../images/images01.jpg" data-holder-rendered="true" style="width: 100px; height: 100px;">
    <img data-src="holder.js/100x100" class="img-thumbnail" alt="100x100" src="../../images/images02.jpg" data-holder-rendered="true" style="width: 100px; height: 100px;">
    <img data-src="holder.js/100x100" class="img-thumbnail" alt="100x100" src="../../images/images03.jpg" data-holder-rendered="true" style="width: 100px; height: 100px;">
    <img data-src="holder.js/100x100" class="img-thumbnail" alt="100x100" src="../../images/images04.jpg" data-holder-rendered="true" style="width: 100px; height: 100px;">
    <img data-src="holder.js/100x100" class="img-thumbnail" alt="100x100" src="../../images/images05.jpg" data-holder-rendered="true" style="width: 100px; height: 100px;">
</div>

<div class="alert alert-info reveal-animation" role="alert">
    maxCol: {{maxCol}}<br />
    maxCol: {{maxRow}}<br />
    curIdx: {{curIdx}}<br />
</div>